ul,
ol {
	margin: 0 0 rem($margin-bottom);
	padding: 0 0 0 rem(20);
	
	// prevents compounded padding in nested lists
	ul ,
	ol {
		margin-bottom: 0;
	}
	
}


// All list items
li {
	line-height: 1.4;
	padding-bottom: rem(10);
	padding-left: rem(30);
	position: relative;	
	

	&:before {		
		color: $primary-color;
		position: absolute;
		font-weight: 700;
	}

	
	// nested listitems
	li:first-child {
		padding-top: rem(10);
	}

	
	// prevents compounded padding in nested lists
	li:last-child {
		padding-bottom: 0;
	}
	
	
}



// Ordered lists
ol {
	counter-reset: item;
}


ol li:before {
	content: counter(item) ".";
	counter-increment: item;
	font-size: 85%;
	top: rem(3);
	left: rem(7);
}


// Unordered lists
ul li:before {
	content: "\2022";
	font-size: rem(15);
	left: rem(14);
}