// font-size of the Kraftwerke text
.logo-text {
	font-family: $secondary-face;
	font-size: rem(34);
	letter-spacing: 1px;
	line-height: 1.1;
	padding: rem(28) rem(20) rem(20);
	position: absolute;
		top: 0;
		left: 0;
	text-align: center;
	text-decoration: none;
	
	span {
		display: block;
		font-size: rem(12);
		letter-spacing: rem(6);
	}
	
}

.site-header .logo-text {
	color: theme-color("off-white");
	
	&:hover {
		color: theme-color("off-white");
	}
	
}