.utilities-menu .menu-item {
	float: left;
	line-height: rem(30);
	margin-left: rem(30);
}
	
// menu-item separators			
.utilities-menu .menu-item:before {
	background-color: rgba( white, .8 );
	content: "";
	height: rem(14);
	margin: 0;
	position: absolute;
		top: 50%;
		left: rem(-16);
	transform: translateY(-50%);
	width: rem(1);
}
	
// hides first menu-item separator
.utilities-menu .menu-item:first-child:before {	
	display: none;
}