<ul>
	<li>Lorem ipsum dolor sit amet consectetur list item.</li>
	<li>Lorem ipsum dolor sit amet consectetur list item.</li>
	<li>Lorem ipsum dolor sit amet consectetur list item.</li>
	<li>Lorem ipsum dolor sit amet consectetur list item.</li>
</ul>
<ol>
	<li>Lorem ipsum dolor sit amet consectetur list item.</li>
	<li>Lorem ipsum dolor sit amet consectetur list item.</li>
	<li>Lorem ipsum dolor sit amet consectetur list item.</li>
	<li>Lorem ipsum dolor sit amet consectetur list item.</li>
</ol>
<h6>Two Column</h6>
<ul class="two-column">
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
	<li>List Item 4</li>
	<li>List Item 5</li>
	<li>List Item 6</li>
	<li>List Item 7</li>
	<li>List Item 8</li>
</ul>
<h6>Three Column</h6>
<ul class="three-column">
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
	<li>List Item 4</li>
	<li>List Item 5</li>
	<li>List Item 6</li>
</ul>
<h6>Four Column</h6>
<ul class="four-column">
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
	<li>List Item 4</li>
	<li>List Item 5</li>
	<li>List Item 6</li>
	<li>List Item 7</li>
	<li>List Item 8</li>
</ul>