// Generic Button Link Style
%btn {
	background-color: $primary-color;
	border-radius: 5px;
	box-shadow: 0 0 0 1px white, 0 0 2px 2px rgba(black, .1);
	color: white;
	display: inline-block;
	font-size: rem(14);
	font-weight: 700;
	letter-spacing: .03em;
	line-height: 1.1;
	padding: rem(16) rem(24);
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 250ms;
	transition-property: background-color, color;
	transition-timing-function: ease;	
	
	&:hover {
		background-color: lighten($primary-color, 6%);
		color: white;
	}
	
}


// Primary Button
.btn {
	@extend %btn;
	
	&--block {
		display: block;
	}

	&--minimalist {
		background: transparent;
		border: rem(2) solid white;
		color: $body-color;
		
		&:hover {
			background: white;
			color: $body-color;
		}
	}
	
	&--lg {
		font-size: rem(18);
		padding: rem(20) rem(30);
	}

}



// Generic More Link Style
%more {
	@include font-family( "primary" , 700 );
	border-bottom: 1px solid $primary-color;
	color: $primary-color;
	font-size: 85%;
	letter-spacing: 2px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;

	&:before {
		background-color: $primary-color;
		content: "";
		height: 2px;
		position: absolute;
			bottom: -1px;
			left: 0;
		transition: width 250ms ease-out 0ms;
		width: 0;
	}

	&:hover:before {
		width: 100%;			
	}
	
}

.more {
	@extend %more;
}

.more {
	font-weight: 700;
	letter-spacing: rem(1);
	text-decoration: none;
	text-transform: uppercase;
	transition: color 250ms ease 0s; // added in case .more is a span tag

	&:after {
		content: $fa-chevron-right;
		display: inline-block;
		font-family: $font-awesome;
		font-size: rem(10);
	    margin-top: rem(5);
		margin-left: rem(10);
		vertical-align: top;
	}

}