<form role="search" method="GET" class="search-form" action="">
	<div>
		<input placeholder="What are you looking for?" type="text" name="s" class="search-input" />
		<button type="submit" class="search-button btn">Search</button>
	</div>
</form>