<div style="margin-bottom: 1rem">
	<h6 class="primary-face">Raleway</h6>
	<div class="primary-face">Primary font: "Raleway", Helvetica, Arial, sans-serif</div>
	<div class="primary-face"><em>Primary font italic: "Raleway", Helvetica, Arial, sans-serif</em></div>
	<div class="primary-face"><strong>Primary font bold: "Raleway", Helvetica, Arial, sans-serif</strong></div>
	<div class="primary-face"><strong><em>Primary font bold italic: "Raleway", Helvetica, Arial, sans-serif</em></strong></div>
</div>