<div style="margin-bottom: 1rem">
	<h6 class="primary-face">Roboto</h6>
	<div class="primary-face">Primary font: "Roboto", Helvetica, Arial, sans-serif</div>
	<div class="primary-face"><em>Primary font italic: "Roboto", Helvetica, Arial, sans-serif</em></div>
	<div class="primary-face"><strong>Primary font bold: "Roboto", Helvetica, Arial, sans-serif</strong></div>
	<div class="primary-face"><strong><em>Primary font bold italic: "Roboto", Helvetica, Arial, sans-serif</em></strong></div>
</div>

<div>
	<h6 class="primary-face">Porscha Condensed</h6>
	<div class="secondary-face">Primary font: "Porscha Condensed", Helvetica, Arial, sans-serif</div>
	<div class="secondary-face"><em>Primary font italic: "Porscha Condensed", Helvetica, Arial, sans-serif</em></div>
</div>