<ul class="menu utilities-menu">
	<li class="menu-item">
		<a href="#">Partners & Developers</a>
	</li>
	<li class="menu-item">
		<a href="#">Contact</a>
	</li>
	<li class="menu-item">
		<a href="#">USA</a>
	</li>
</ul>