<ul class="menu main-menu">
	<li class="menu-item">
		<a href="#">About</a>
	</li>
	<li class="menu-item menu-item-has-children">
		<a href="#">Services</a>
		<span class="toggle-control"></span>
		<ul class="sub-menu">
			<li class="menu-item">
				<a href="#">Maintenance</a>
			</li>
			<li class="menu-item">
				<a href="#">Repairs</a>
			</li>
			<li class="menu-item">
				<a href="#">Vehicle Diagnostics</a>
			</li>
		</ul>
	</li>
	<li class="menu-item">
		<a href="#">Blog</a>
	</li>
	<li class="menu-item">
		<a href="#">Contact Us</a>
	</li>
</ul>