<ul class="menu main-menu">
	<li class="menu-item">
		<a href="#">Industries</a>
		<ul class="sub-menu">
			<li class="menu-item">
				<a href="#">Healthcare</a>
			</li>
			<li class="menu-item">
				<a href="#">Business</a>
			</li>
			<li class="menu-item">
				<a href="#">Government</a>
			</li>
		</ul>
	</li>
	<li class="menu-item">
		<a href="#">Products</a>
	</li>
	<li class="menu-item">
		<a href="#">Support &amp; Learning</a>
	</li>
	<li class="menu-item">
		<a href="#">News & Events</a>
	</li>
	<li class="menu-item">
		<a href="#">Resources</a>
	</li>		
	<li class="menu-item">
		<a href="#">Who We Are</a>
	</li>
</ul>