<ul class="social no-list-style">
	<li class="social__title">Follow Us:</li>
	<li class="social__item">
		<a class="social__link" target="_blank" href="#">
			<span class="fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-facebook fa-stack-1x"></i>
			</span>
		</a>
	</li>
	<li class="social__item">
		<a class="social__link" target="_blank" href="#">
			<span class="fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-instagram fa-stack-1x"></i>
			</span>
		</a>
	</li>
	<li class="social__item">
		<a class="social__link" target="_blank" href="#">
			<span class="fa-stack">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-twitter fa-stack-1x"></i>
			</span>
		</a>
	</li>
</ul>