.site-footer {
	background-color: theme-color("gray", "dark");
	color: white;
	padding: rem(30) 0;
	
	&__copy {
		> :last-child {
			margin-bottom: 0;
		}
	}
	
	.social {
		align-items: center;
		display: flex;
		
		li {
			padding-bottom: 0;
		}
		
		.fa-circle {
			background-color: rgba(white, .9);
		}
		
		&__title {
			margin-right: rem(8);
		}
		
		&__link {
			margin-left: rem(8);
		}
		
	}
	
}


@include desktop-menu {
	
	.site-footer {
		
		&__flex {
			align-items: center;
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	
		&__social {
			justify-content: flex-end;
		}
		
	}
	
}

@include mobile-menu {

	.site-footer {
		
		&__flex {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		
		&__copy ,
		&__social {
			width: 100%;
		}
		
		&__copy + &__social {
			padding-bottom: rem(30);
		}
		
		&__copy {
			order: 2;
			text-align: center;
		}
	
		&__social {
			order: 1;
		}
		
		.social {
			justify-content: center;
		}
		
	}

}

@include smartphone-down {
	
	.site-footer {
		font-size: rem(14);
	}	
	
}