// sass-lint:disable class-name-format
.widget {
	line-height: 1.5;
	max-width: rem($sidebar-width);
	
	&:not(.widget_cta-btn) {
		border-radius: rem($border-radius);
		box-shadow: 0 rem(2) rem(5) rgba(black, .1);
		padding: rem(30) rem(20);
	}
		
	&_cta-btn {
		text-align: center;
	}
	
	&__title {
		font-size: rem(20);
				
		&:after {
			content: "";
			background: $primary-color;
			border-radius: rem($border-radius);
			display: block;
			height: rem(2);
			margin-top: rem(6);
			width: rem(22);
		}

	}
	
	p ,
	ul ,
	ol {
		margin-bottom: rem(12);
	}
	
	ul ,
	ol {
		padding-left: 0;
	}
	
	> :last-child {
		margin-bottom: 0;
	}
	
	
	// Recent Posts / Recent Comments widget
	&_recent_entries ,
	&_recent_comments ,
	&_archive ,
	&_categories ,
	&_meta {
		
		a {
			font-weight: 600;
			text-decoration: none;
			
			&:hover {
				color: theme-color("gray", "dark");
			}
			
		}
		
		ul ,
		li {
			padding-left: 0;
		}
		
		li:before {
			display: none;
		}
		
		.post-date {
			color: #777;
			display: block;
			font-size: rem(14);
			font-weight: 300;
			letter-spacing: .04em;
			margin-top: rem(4);
			text-transform: uppercase;
		}
		
	}
	
	// Search widget
	&_search {
		
		.search-form > div {
			display: flex;
			width: 100%;
		}
		
		.search-form__input {
			flex: 1 1 auto;
		}
		
		.search-form__button {
			background-color: $primary-color;
			color: white;
			font-size: rem(14);
			font-weight: 600;
			padding: 0 rem(12);
			text-transform: uppercase;
		}
		
	}
	
	// Text widget
	.textwidget {
		
		> :last-child {
			margin-bottom: 0;
		}
		
	}
	
	// Nav menu widget
	&_nav_menu {
		
		.menu {
			border-bottom: 1px solid rgba(black, .05);
			margin-bottom: 0;
		}
		
		// First-level
		.menu a {
			font-weight: 400;
			padding: rem(7) 0;
			text-transform: none;
		}
		
		.menu > .menu-item {
			border-top: 1px solid rgba(black, .05	);
			
			> a {
				font-weight: 700;
				padding: rem(10) rem(30) rem(10) 0;
				position: relative;
				text-transform: uppercase;
				
				&:after {
					content: $fa-chevron-right;
					font-family: $font-awesome;
					font-size: rem(10);
					position: absolute;
						top: 50%;
						right: rem(20);
					transform: translateY(-50%);
				}
			}
			
		}
		
		a {
			color: $primary-color;
			font-size: rem(14);
			font-weight: 600;
			letter-spacing: .03em;
			text-transform: uppercase;
			
			&:hover {
				color: theme-color("gray", "dark");
			}
			
		}
	
	}
	
	// Hours of operation widget
	.hours-of-operation {
		table-layout: fixed;
		width: 100%;
		
		&__day {
			width: rem(102);
		}
		
	}
	
}
// sass-lint:enable class-name-format