{{> organisms-site-navigation:site-navigation--fixed }}
<div class="outer-wrapper">
	<div class="site-wrapper">
		{{> organisms-header:site-header--fixed }}
		<main class="main main--header-offset main--fullscreen">
			{{> organisms-panels }}
			{{> organisms-layer-icon-grid }}
		</main>
		{{> organisms-footer }}
	</div><!-- end .site-wrapper -->
</div><!-- end .outer-wrapper -->