{{> organisms-site-navigation:site-navigation--fixed }}
<div class="outer-wrapper">
	<div class="site-wrapper">
		{{> organisms-header:site-header--fixed }}
		{{> organisms-masthead }}
		<main class="main">
			{{> organisms-content-w-sidebar }}
		</main>
		{{> organisms-footer }}
	</div><!-- end .site-wrapper -->
</div><!-- end .outer-wrapper -->