<section class="masthead" style="background-image: url( {{img.landscape-16x9-hero.src}} );">
	<div class="masthead__flex-parent">
		<div class="masthead__flex-child">
			<div class="inner">
				{{> molecules-text-page-header }}
			</div>
		</div>
	</div>
</section>