<div class="search-field">
	<input placeholder="What are you looking for?" type="text" name="s" class="search-input" />
	<button type="submit" class="search-button">Search <i class="fa fa-search" aria-hidden="true"></i></button>
</div>