<div class="search-field">
	<input placeholder="Search" type="text" name="s" class="search-input" />
	<button type="submit" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>