<section class="panels">
	<div class="panel">
		<div class="panel__body">
			<div class="inner">
				<h1><a href="#">Specializing in Problems Others Can't Fix</a></h1>
			</div>
		</div>
	</div>
	<div class="panel-slides">
		<div class="panel-slide">
			<div class="frame frame--dark frame--cover">
				<picture>
					<source media="(min-width: 1201px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<source media="(min-width: 971px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<source media="(min-width: 641px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<source media="(min-width: 481px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<img class="frame__media" alt="" data-original="{{img.landscape-16x9-hero.src}}">
				</picture>
			</div>
		</div>
		<div class="panel-slide">
			<div class="frame frame--dark frame--cover">
				<picture>
					<source media="(min-width: 1201px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<source media="(min-width: 971px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<source media="(min-width: 641px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<source media="(min-width: 481px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<img class="frame__media" alt="" data-original="{{img.landscape-16x9-hero.src}}">
				</picture>
			</div>
		</div>
		<div class="panel-slide">
			<div class="frame frame--dark frame--cover">
				<picture>
					<source media="(min-width: 1201px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<source media="(min-width: 971px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<source media="(min-width: 641px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<source media="(min-width: 481px)" data-original-set="{{img.landscape-16x9-hero.src}}" />
					<img class="frame__media" alt="" data-original="{{img.landscape-16x9-hero.src}}">
				</picture>
			</div>
		</div>
</section>