<section class="layer layer--default">
	<div class="layer__body">
		<div class="inner">
			<div class="layer__content-wrapper">
				<aside class="layer__sidebar">
					{{> molecules-widget-cta-btn }}
				</aside>
				<article class="layer__content">
					{{{ content }}}
				</article>
			</div><!-- end .content-wrapper -->
		</div><!-- end .inner -->
	</div><!-- end .layer__body -->
</section><!-- end .layer--default -->