<table style="width: 100%;">
	<thead>
		<tr>
			<th>Table Header</th>
			<th>Table Header</th>
			<th>Table Header</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Lipsum item 1</td>
			<td>Lorem ipsum dolor site amet description 1</td>
			<td>Lipsum item 1</td>
		</tr>
		<tr>
			<td>Lipsum item 2</td>
			<td>Lorem ipsum dolor site amet description 2</td>
			<td>Lipsum item 2</td>
		</tr>
		<tr>
			<td>Lipsum item 3</td>
			<td>Lorem ipsum dolor site amet description 3</td>
			<td>Lipsum item 3</td>
		</tr>
		<tr>
			<td>Lipsum item 4</td>
			<td>Lorem ipsum dolor site amet description 4</td>
			<td>Lipsum item 4</td>
		</tr>
		<tr>
			<td>Lipsum item 5</td>
			<td>Lorem ipsum dolor site amet description 5</td>
			<td>Lipsum item 5</td>
		</tr>
		<tr>
			<td>Lipsum item 6</td>
			<td>Lorem ipsum dolor site amet description 6</td>
			<td>Lipsum item 6</td>
		</tr>
	</tbody>
</table>