<footer class="site-footer" role="contentinfo">
	<p>
		&copy; 1996-{{ year }} {{ company.name }}, {{ company.location }}. <a href="#">Notices/Terms & Conditions</a>. All Rights Reserved. <a href="#">Privacy Policy</a> <a href="#">Section 508</a>
	</p>
</footer>