<footer class="site-footer" role="contentinfo">
	<div class="inner">
		<p>
			Copyright &copy; {{ year }} <strong>{{ company.name }}</strong>. All Rights Reserved. <br />
			{{ company.street }}, {{ company.location }}.
		</p>
		{{> molecules-social }}
	</div>
</footer>