<header id="js-site-header" class="site-header" role="banner">

	{{> molecules-logo-link }}

	{{> molecules-navicon }}

	<nav class="site-navigation">
		{{> molecules-menu-utility-menu }}
		{{> molecules-menu-main-menu }}
	</nav>

</header>