<nav class="site-navigation {{ styleModifier }}">
	<span id="js-navicon-close" class="site-navigation__close-btn" role="button">Close <i class="fa fa-times"></i></span>
	{{> molecules-menu-main-menu }}
</nav>