/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 .5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sg-colors li {
  -ms-flex: auto;
  -webkit-flex: auto;
          flex: auto;
  padding: .3em;
  margin: 0 .5em .5em 0;
  min-width: 5em;
  max-width: 14em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: .3em;
  border-radius: 5px;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

.sg-tabs-list li {
  padding: 0;
}

.sg-tabs-list li:before {
  display: none;
}

.swatches {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.swatch {
  border: 1px solid #cecece;
  display: block;
  height: 170px;
  position: relative;
  width: calc(20% - 1rem);
}

.swatch:before, .swatch:after {
  content: "";
  display: block;
  font-family: inherit;
  font-size: 85%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5rem;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 100%;
  word-wrap: nowrap;
}

.swatch:before {
  background-color: white;
  border-top: 1px solid #cecece;
  color: inherit;
  font-weight: bold;
  height: 30%;
}

.swatch:after {
  color: gray;
  font-size: 70%;
  padding-top: 1.5rem;
}

.swatch--green {
  background-color: #42ab9e;
}

.swatch--green:before {
  content: "green";
}

.swatch--green:after {
  content: "#42ab9e";
}

.swatch--green-light {
  background-color: #66c4b8;
}

.swatch--green-light:before {
  content: "green - light";
}

.swatch--green-light:after {
  content: "#66c4b8";
}

.swatch--green-dark {
  background-color: #317f75;
}

.swatch--green-dark:before {
  content: "green - dark";
}

.swatch--green-dark:after {
  content: "#317f75";
}

.swatch--red {
  background-color: #b03049;
}

.swatch--red:before {
  content: "red";
}

.swatch--red:after {
  content: "#b03049";
}

.swatch--red-light {
  background-color: #cf4e67;
}

.swatch--red-light:before {
  content: "red - light";
}

.swatch--red-light:after {
  content: "#cf4e67";
}

.swatch--red-dark {
  background-color: #802335;
}

.swatch--red-dark:before {
  content: "red - dark";
}

.swatch--red-dark:after {
  content: "#802335";
}

.swatch--blue {
  background-color: #325595;
}

.swatch--blue:before {
  content: "blue";
}

.swatch--blue:after {
  content: "#325595";
}

.swatch--blue-light {
  background-color: #4470c0;
}

.swatch--blue-light:before {
  content: "blue - light";
}

.swatch--blue-light:after {
  content: "#4470c0";
}

.swatch--blue-dark {
  background-color: #233b67;
}

.swatch--blue-dark:before {
  content: "blue - dark";
}

.swatch--blue-dark:after {
  content: "#233b67";
}

.swatch--gray {
  background-color: #707070;
}

.swatch--gray:before {
  content: "gray";
}

.swatch--gray:after {
  content: "#707070";
}

.swatch--gray-light {
  background-color: #bdc1c0;
}

.swatch--gray-light:before {
  content: "gray - light";
}

.swatch--gray-light:after {
  content: "#bdc1c0";
}

.swatch--gray-dark {
  background-color: #202121;
}

.swatch--gray-dark:before {
  content: "gray - dark";
}

.swatch--gray-dark:after {
  content: "#202121";
}

.swatch--off-white {
  background-color: #f2f2f2;
}

.swatch--off-white:before {
  content: "off-white";
}

.swatch--off-white:after {
  content: "#f2f2f2";
}

.primary-face {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.secondary-face {
  font-family: "Porscha Condensed", Helvetica, Arial, sans-serif;
}
