// Wordpress Custom Logo - displayed in the .site-header container
.custom-logo-link {
	width: rem(140);
	
	// styles both svg and regular images
	svg ,
	img {
		height: auto;
		width: 100%;
	}
	
}



//---
// MOBILE MENU AND BELOW
//---
@include mobile-menu {


	// reduce logo-size
	.custom-logo-link {
		width: rem(120);
	}
	

}