  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script type="text/javascript" src="../../js/jquery.1.12.4.js"></script>
  <script type="text/javascript" src="../../js/plugins-footer.js"></script>
  <script type="text/javascript" src="../../js/em-base/global.js"></script>
  <script type="text/javascript" src="../../js/child-theme.js"></script>
  </body>
</html>