//---
// SMARTPHONE LANDSCAPE AND UP
//---
@include smartphone-up {

	.grid {
		-js-display: flex;
		display: flex;
		flex-wrap: wrap;
		font-size: 0;
		margin: 0 rem(-10);
		
		&__item {
			display: inline-block;
			font-size: rem(16);
			padding: 0 rem(10);
			vertical-align: top;
		}
		
	}
	
	
	.grid--quarters ,
	.grid--thirds ,
	.grid--halves {
		
		> .grid__item {
			margin: rem(30) 0;
			width: 50%;			
		}
		
	}
	
	
	.grid--fifths > .grid__item {
		margin: rem(30) 0;
		width: percentage( 1 / 3 );
	}
	
	
}



@media screen and ( min-width: #{ em(760) } ) {
	
	.grid--quarters ,
	.grid--halves {
		.grid__item {
			width: 50%;
		}
	}
	
	.grid--fifths > .grid__item {
		margin: rem(30) 0;
		width: 20%;
	}
	
	
}


//---
// TABLET LANDSCAPE AND UP
//---
@include tablet-landscape-up {
	
	.grid--thirds > .grid__item {
		width: percentage( 1 / 3 );
	}

	
	.grid--quarters > .grid__item {
		width: 25%;		
	}
	

}