

.layer__sidebar {
	max-width: rem($sidebar-width);
	width: 100%;
}


.layer__sidebar + .layer__content {
	overflow: hidden;
}


.layer__content > :last-child {
	margin-bottom: 0;
}



@media screen and (max-width: 900px) {

	.layer__content-wrapper {
		display: flex;
		flex-direction: column;
	}
	
	.layer__sidebar {
		order: 2;
	}
	
	.layer__sidebar + .layer__content {
		margin-bottom: rem(40);
		order: 1;
	}

}

@media screen and (min-width: 901px) {
	
	.layer__content-wrapper {
		@include clearfix;
	}
	
	.layer__sidebar {
		float: right;
		margin-left: rem(50);
	}
	
}