.layer.layer--google-map {
	color: white;
	margin: 0;
}

.layer--google-map {
	background: theme-color("gray", "lighter");
	display: flex;
	position: relative;
	width: 100%;
}

// Content.
.map-content {
	position: relative;
		z-index: 2;
	width: 100%;

	:first-child {
		margin-top: 0;
	}
	
	:last-child {
		margin-bottom: 0;
	}
}

// Marker content.
.marker-content {
	color: theme-color("gray", "dark");
	padding: rem(12);
	width: rem(240);

	p {
		font-size: rem(16);
		line-height: 1.5;
	}

	:last-child {
		margin-bottom: 0;
	}
}

@include tablet-portrait-down {
	.layer.layer--google-map {
		padding-top: 0;
		padding-bottom: 0;
	}

	.layer--google-map {
		flex-direction: column-reverse;
	}

	.map-content {
		background: rgba( black, .7 );
		padding: rem(40) 0;
	}

	.fullwidth-map {
		height: rem(400);
		position: relative;
	}
}

@include tablet-portrait-up {
	.layer.layer--google-map {
		min-height: rem(500);
		&:before {
			background: rgba( black, .7 );
			content: "";
			max-width: 50%;
			position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 1;
			width: 100%;
		}
	}

	.layer--google-map {
		align-items: center;
	}

	.map-content {
		max-width: 50%;
	}

	// Map.
	.fullwidth-map {
		position: absolute !important;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
	}
}

@include inner-down {
	.map-content {
		padding-right: rem(40);
		padding-left: rem(20);
	}
}

@include inner-up {
	.map-content {
		display: flex;
		justify-content: flex-end;

		&__inner {
			max-width: rem( $width-center / 2 );
			padding-right: rem(40);
		}
	}
}