.panels ,
.panel {
	height: 100%; // offset header height and footer copy height.
	position: relative;
		z-index: 1;
}

.panels {
	background-color: theme-color("gray", "dark");
	overflow: hidden;
}

.panel-slides ,
.panel-slides .slick-list ,
.panel-slides .slick-track ,
.panel-slide ,
.panel {
	height: 100%;
}

// Messaging
.panel {
	color: white;
	color: rgba(white, .9);
	position: absolute;	
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		
	&__body ,
	&__body .inner {
		height: 100%;
	}
	
	&__body .inner {
		align-items: flex-end;
		display: flex;
	}
	
	h1 {
		font-weight: 600;
		hyphens: none;
		line-height: 1.3;
		max-width: rem(500);
		word-break: normal;
		
		@include tablet-landscape-up {
			font-size: rem(64);
			max-width: rem(640);
			line-height: 1.3;
		}
		
		a {
			color: inherit;
			display: block;
			text-decoration: none;
			
			&:hover {
				color: rgba(white, .75);
			}
			
		}
		
	}
	
}

// Image slides
.panel-slide {
	transition: transform 3000ms ease 0s, opacity 500ms linear 0s !important;
	transform: scale(1.05);
	 
	&.slick-active {
		transform: scale(1);
	}
	
	.frame__media {
		opacity: 0;
		transition: opacity 500ms ease 0s, visibility 0s;
		
		&.loaded {
			opacity: 1;
		}
		
	}
	
}