.breadcrumbs {
	font-size: rem(16);


	// the breadcrumb link tags
	[rel="v:url"] {
		font-weight: 700;
		text-decoration: none;
		margin-right: rem(3);
		transition: border-color 250ms ease 0s, color 250ms ease 0s;
		
		&:hover {
			text-decoration: none;
		}
		
	}


	// the space after the crumb before the next breadcrumb. 
	[typeof="v:Breadcrumb"] span {
		margin-left: rem(4);
	}
	
}