.social {
	margin: 0;
	padding: 0;
	
	li {
		display: inline-block;
	}
	
}  


.social__link {
	border-radius: 50%;
	color: inherit;
	display: block;
	font-weight: normal;
	overflow: hidden;	
	text-decoration: none;
	
	.fa {
		transition: color 250ms ease 0s, background-color 250ms ease 0s, transform 250ms ease 0s;
		
		&:hover {
			transform: scale(1.05);
		}
		
	}
	
	.fa-circle {
		color: rgba(white, .5);
		text-shadow: 0 0 5px rgba(black, .15);
	}
	
	// brand colors
	.fa-facebook {
		color: $facebook;
		
		&:hover {
			background-color: $facebook;
			color: white;
		}
		
	}	
	
	.fa-google-plus {
		color: $googleplus;		
		
		&:hover {
			background-color: $googleplus;
			color: white;
		}		
	}	
	
	.fa-instagram {
		color: $instagram;			
		
		&:hover {
			background-color: $instagram;
			color: white;
		}	
	}	
	
	.fa-linkedin {
		color: $linkedin;		
		
		&:hover {
			background-color: $linkedin;
			color: white;
		}		
	}	
	
	.fa-pinters {
		color: $pinterest;		
		
		&:hover {
			background-color: $pinterest;
			color: white;
		}		
	}	
	
	.fa-twitter {
		color: $twitter;	
		
		&:hover {
			background-color: $twitter;
			color: white;
		}			
	}	
	
	.fa-rss {
		color: $rss;	
		
		&:hover {
			background-color: $rss;
			color: white;
		}			
	}	
	
	.vm {
		color: $vimeo;		
		
		&:hover {
			background-color: $vimeo;
			color: white;
		}		
	}	
	
	.fa-youtube {
		color: $youtube;
		
		&:hover {
			background-color: $youtube;
			color: white;
		}	
	}		
	
	.fa-yelp {
		color: $yelp;
		
		&:hover {
			background-color: $yelp;
			color: white;
		}	
	}	
	
}

.social__item {
	display: inline-block;
	padding-bottom: 0;
}