.social {
	margin: 0;
	padding: 0;
	
	li {
		display: inline-block;
	}
	
}  


.social__link {
	color: inherit;
	font-weight: normal;	
	text-decoration: none;
	
	.fa-circle {
		color: theme-color("gray");
	}
	
	// brand colors
	.fa-facebook {
		color: $facebook;
	}	
	
	.fa-google-plus {
		color: $googleplus;			
	}	
	
	.fa-instagram {
		color: $instagram;			
	}	
	
	.fa-linkedin {
		color: $linkedin;			
	}	
	
	.fa-pinters {
		color: $pinterest;			
	}	
	
	.fa-twitter {
		color: $twitter;			
	}	
	
	.fa-rss {
		color: $rss;			
	}	
	
	.vm {
		color: $vimeo;			
	}	
	
	.fa-youtube {
		color: $youtube;
	}		
	
}

.social__item {
	display: inline-block;
	padding-bottom: 0;
}