.meta {
	@include clearfix;
	color: theme-color("gray");
	font-size: rem(14);
	font-weight: 700;
	margin-bottom: rem(10);
	padding-left: 0;
	text-transform: uppercase;	
	
	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
		
	}
	
	li {
		display: inline-block;
		margin-right: rem(30);
		padding-bottom: 0;
		padding-left: 0;
	}
	
	li:before {
		content: "";
	}
	
	li:after {
		color: $primary-color;
		content: "\2022";
		position: absolute;
			right: rem(-17);
	}
	
	li:first-child {
		padding-left: 0;
	}
	
	li:last-child {
		margin-right: 0;
	}
	
	li:last-child:after {
		content: "";
	}
	
}