.page-header {
	> :last-child {
		margin-bottom: 0;
	}
}

.page-title {
	font-weight: 800;
	margin-bottom: rem(8)
}

.page-subtitle {
	font-weight: 400;
	margin-bottom: rem(15);
}

.page-description {
	font-size: rem(18);
	font-weight: 400;
}


// 700px
@media (min-width: 43.75em) {
	
	.page-title {
		font-size: rem(44);
	}
	
	.page-subtitle {
		font-weight: 400;
	}
	
}

// 900px
@media (min-width: 56.25em) {
	
	.page-title {
		font-size: rem(56);
	}
	
	.page-subtitle {
		font-size: rem(36);
	}

	.page-description {
		font-size: rem(21);
	}
	
}