table {
	font-size: rem(13);
	margin-bottom: rem($margin-bottom);
	
	th,
	td {
		padding: rem(10) rem(20);
		text-align: left;
		border-right: rem(2) solid rgba(black, .02);
		
		&:last-child {
			border-right: none;
		}
		
	}

	thead {

		tr {
			background: $primary-color;
			color: white;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: rem(.5);
		}
		
		th {
			border-color: rgba(white, .1);
		}

	}

	tr:nth-child(even) {
		background: #fafafa;
	}


}