<form role="search" method="get" class="search-form" action="#">
	<div class="search-inner">
		<input placeholder="{{ searchText }}" type="text" value="" name="s" class="search-input">
		<button type="submit" class="search-button" value="">
			<i class="fa fa-search" aria-hidden="true"></i>
		</button>
	</div>
</form>