//---
// WORDPRESS GENERATED CLASSES
//
// @ref: https://codex.wordpress.org/CSS
//---
.wp-caption {

  &-text {
    font-size: rem(14);
    font-style: italic;
    margin-bottom: 0;
    padding: rem(5) rem(10);
    text-align: center;
  }
  
}