// Wordpress Custom Logo - displayed in the .site-header container
.custom-logo-link {
	color: inherit;
	text-decoration: none;
	
	&:hover {
		color: $primary-color;
		text-decoration: none;
	}
	
	// styles both svg and regular images
	svg ,
	img {
		height: auto;
		width: 100%;
	}
	
}