//---
// Font Familys
//---
$font-awesome: "FontAwesome";


//---
// Font Sizes
//---
$h1: 65;
$h2: 44;
$h3: 36;
$h4: 26;
$h5: 20;
$h6: 18;


//---
// FontAwesome Icons
//---
$fa-angle-up: "\f106";
$fa-angle-right: "\f105";
$fa-angle-down: "\f107";
$fa-angle-left: "\f104";
$fa-arrow-right: "\f061";
$fa-caret-up: "\f0d8";
$fa-caret-down: "\f0d7";
$fa-caret-right: "\f0da";
$fa-chevron-right: "\f054";
$fa-chevron-down: "\f078";
$fa-chevron-left: "\f053";
$fa-close: "\f00d"; // mobile menu close btn
$fa-bars: "\f0c9"; // mobile menu btn
$fa-dot-circle-o: "\f192"; // target-logo-looking icon used for bullet styles
$fa-envelope-o: "\f003";
$fa-play-o: "\f01d";
$fa-plus: "\f067";
$fa-plus-circle: "\f055";
$fa-plus-times: "\f057";
$fa-minus: "\f068";
$fa-search: "\f002"; // site search
$fa-share: "\f1e0"; // sharethis