$border-radius: 6;
$margin-bottom: 30;
$masthead-height: 450;
$sidebar-width: 350;
$siteheader-height: 76;
$site-navigation-width: 320;
$width-center: 1180; // max-width of the site's centered container
$width-center-narrow: 760; 