//---
// MEDIA QUERY SIZES
//---
$smartphone-portrait-width: 400;
$smartphone-landscape-width: 640;
$tablet-portrait-width: 760;
$sidebar-initialize: 940;
$tablet-landscape-width: 1024;
$mobile-menu-initialize: 1100;
$medium-desktop-width: 1350;
$large-desktop-width: 1600;